---
import type { HTMLAttributes } from "astro/types";
import Button from "@/components/ui/button/button.svelte";

type Props = HTMLAttributes<"a">;

const { href, class: className } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<Button
    variant="link"
    href={href}
    class:list={[className, "px-0", { "font-bold": isActive }]}
>
    <slot />
</Button>
